.articlePage__container {
  display: flex;

  gap: 57rem;
}

.articlePage__container article {
  flex-grow: 2.5;
  border: none;
}

/* Заголовки */
.article__title_container {
  margin: 13.5rem 0 6rem;
}

.article__title_container > h1 {
  margin: 0 0 4rem;
}

.article__title_container > .article__author {
  display: inline;
  position: relative;
}

.article__title_container > .article__author::after {
  content: "•";

  margin: 0 2rem;

  color: #494949;
}

.article__title_container > .article__date {
  color: #494949;
}

.article__header .article__img {
  margin: 0 0 6rem;
}

/* Оглавление */
.toc__container h3 {
  font-size: 4rem;
  font-weight: 700;

  margin-bottom: 4rem;
}

.toc__links .toc__item {
  position: relative;
}

.marker::marker {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9Im5vbmUiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSI0IiBmaWxsPSIjMDNCMkE1Ii8+PC9zdmc+");
}

.toc__item,
.article__item {
  font-size: 4rem;
  padding: 0 0 2rem 2rem;
}

.toc__item a {
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

  color: #333;
}
.toc__subLinks {
  list-style-type: none;
  padding: 2rem 0 0 8rem;
}

.toc__subLinks .toc__item .link {
  margin-left: calc(4rem * var(--level, 1));
  padding: 0;
}

.toc__subLinks .toc__item:nth-child(2) {
  --level: 2;
}

.toc__subLinks .toc__item:nth-child(3) {
  --level: 3;
}

/* Основной текст */
.tab__article_title {
  margin: 6rem 0 0;

  font-size: 6rem;
  font-weight: 700;
  color: #333;
}

.tab__article_content {
  margin: 4rem 0;

  font-size: 4rem;
  font-weight: 400;
  color: #333;
}

.article__blockquote_1 {
  margin: 10rem 0 0;
  padding: 8.5rem 6rem 6rem;

  background-image: url("/Icons/quote_background_1.svg");
  background-repeat: no-repeat;
  background-position: 6rem 6rem;
  background-color: #f3f7fe;

  border-radius: 4rem;
}

.quote__content {
  font-size: 4rem;
  font-style: italic;
  font-weight: 300;
  line-height: 6rem;
}

.quote__autor {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 700;
}

.article__list {
  margin: 4rem 0 6rem;
}

.article__img_container {
  margin-bottom: 10.5em;
}

.article__img_container .article__img {
  height: 100%;
  margin-bottom: 4em;
}

figcaption {
  font-size: 3.5rem;
  color: #868686;
}

.article__blockquote_2 {
  height: 42rem;
  padding: 8.5rem 6rem 6rem;

  background-image: url("/Icons/quote_background_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4rem;

  text-align: center;
  justify-items: center;
}

.article__blockquote_2 .quote__content {
  width: 121rem;
}

/* Боковая панель */
aside {
  flex-grow: 1;
  min-width: 70rem;
  border: 2px solid #333;
}
