/* Общие стили */
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4px;
}

a,
button {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

.link:hover,
.link:focus,
.link:active,
.link:hover button,
.link:focus button,
.link:active button,
.link:hover svg,
.link:focus svg,
.link:active svg {
  text-decoration: none;
  outline: none;

  color: #03b2a5;
  stroke: #03b2a5;
}

h1 {
  margin: 8rem 0;
  padding: 0;

  font-weight: 700;
  font-size: 12rem;
  color: #333;
}

/* Шапка */
header {
  width: 100%;
  height: 19rem;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  padding: 0 8.5%;

  transition: top 0.3s;
  z-index: 1000;

  background-color: #fff;

  box-shadow: inset 0 -0.5rem 0 #eff2f2;
}

.header__container {
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: space-between;

  column-gap: 12.75rem;
}

.header__nav {
  display: flex;
  align-items: center;

  flex-grow: 1;
}

.header__links {
  display: flex;
  gap: 7.5rem;
}

.nav__item {
  list-style-type: none;

  display: flex;
  align-items: center;
}

/* Ссылки шапки */
.header__links a,
button {
  text-decoration: none;

  font-size: 3.5rem;
  color: #333;
}

/* Кнопки шапки */
.header__button {
  padding: 3.5rem 5rem;

  border: none;
  border-radius: 1rem;

  background-color: #e3f5f5;
  color: #03b2a5;

  font-size: 4rem;
  font-weight: 600;
}

.header__button:active {
  background: #80d8d1;
  color: #0a9e91;
}

.header__button:hover {
  background: #b4e8e4;
  color: #00a89b;
}

.header__button:focus {
  background: #e3f5f5;
  color: #03b2a5;
}

/* Выдвижное меню */
.header__DropdownMenu {
  display: flex;
  flex-flow: row;
  align-items: center;
  column-gap: 2.5rem;

  cursor: pointer;
}

.DropdownMenu__item {
  border: none;
  background: none;
}

.header__DropdownMenu svg {
  stroke: #333;
}

/* Основной контент */
main {
  font-size: 20rem;

  padding: 19rem 8.5% 0;

  height: 1vh;
}

/* Хлебные крошки */
.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;

  padding: 0;
  margin: 4rem 0 0 0;
}

.breadcrumb__item {
  font-size: 3rem;
  align-items: center;

  color: #333333;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "";

  display: inline-block;

  width: 4rem;
  height: 4rem;

  background: no-repeat center/contain
    url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22 fill=%22none%22%3E%3Cg clip-path=%22url(%23clip0_4492_2226)%22%3E%3Cpath d=%22M5.8125 12.6875L7.375 11.125L10.5 8L7.375 4.875L5.8125 3.3125%22 stroke=%22%23333333%22 stroke-opacity=%220.7%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%22clip0_4492_2226%22%3E%3Crect width=%2216%22 height=%2216%22 fill=%22white%22 transform=%22matrix(0 1 1 0 0 0)%22/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  vertical-align: middle;
}

.breadcrumb__item a {
  text-decoration: none;

  font-size: 3rem;
}

.breadcrumb__item.active {
  color: #333333;
  align-items: center;
}

/* Теги */
.main__tag_container {
  display: flex;
}

.tag__items {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 2rem;

  list-style-type: none;
}

.tag__item {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;

  padding: 1.5rem;

  font-size: 3.5rem;
  font-weight: 600;

  border: 1px solid #c1c5cd;
  border-radius: 6rem;

  background: none;

  white-space: nowrap;
}

.tag__item:hover,
.tag__item:focus,
.tag__item:active {
  outline: none;
  border-color: #16c8bb;
  box-shadow: 0 0 0 2px rgba(22, 200, 187, 0.5);
}
