main {
  position: relative;
  overflow: hidden;
}

.articlePage__background_1 {
  content: "";
  position: absolute;

  top: 45%;
  right: -15%;

  width: 171.5rem;
  height: 151.5rem;

  z-index: -1;
}

.articlePage__background_2 {
  content: "";
  position: absolute;

  bottom: 45.5rem;
  right: -50rem;

  width: 68rem;
  height: 60rem;

  transform: rotate(216deg);
  z-index: -2;
}

.articlePage__background_3 {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100vw;
  height: 14.5rem;

  z-index: -1;
}

.articlePage__container {
  display: flex;

  gap: 57rem;
}

.articlePage__container article {
  flex-grow: 2.5;
  border: none;
}

/* Заголовки */
.article__title_container {
  margin: 13.5rem 0 6rem;
}

.article__title_container > h1 {
  margin: 0 0 4rem;
}

.article__title_container > .article__author {
  display: inline;
  position: relative;
}

.article__title_container > .article__author::after {
  content: "•";

  margin: 0 2rem;

  color: #494949;
}

.article__title_container > .article__date {
  color: #494949;
}

.article__header .article__img {
  margin: 0 0 6rem;
}

/* Оглавление */
.toc__container h3 {
  font-size: 4rem;
  font-weight: 700;

  margin-bottom: 4rem;
}

.toc__links .toc__item {
  position: relative;
}

.marker::marker {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9Im5vbmUiPjxjaXJjbGUgY3g9IjQiIGN5PSI0IiByPSI0IiBmaWxsPSIjMDNCMkE1Ii8+PC9zdmc+");
}

.toc__item,
.article__item {
  font-size: 4rem;
  padding: 0 0 2rem 2rem;
}

.toc__item a {
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

  color: #333;
}
.toc__subLinks {
  list-style-type: none;
  padding: 2rem 0 0 8rem;
}

.toc__subLinks .toc__item .link {
  margin-left: calc(4rem * var(--level, 1));
  padding: 0;
}

.toc__subLinks .toc__item:nth-child(2) {
  --level: 2;
}

.toc__subLinks .toc__item:nth-child(3) {
  --level: 3;
}

/* Основной текст */
.tab__article_title {
  margin: 6rem 0 0;

  font-size: 6rem;
  font-weight: 700;
  color: #333;
}

.tab__article_content {
  margin: 4rem 0;

  font-size: 4rem;
  font-weight: 400;
  color: #333;
}

.article__blockquote_1 {
  margin: 10rem 0 0;
  padding: 8.5rem 6rem 6rem;

  background-image: url("/Icons/quote_background_1.svg");
  background-repeat: no-repeat;
  background-position: 6rem 6rem;
  background-color: #f3f7fe;

  border-radius: 4rem;
}

.quote__content {
  font-size: 4rem;
  font-style: italic;
  font-weight: 300;
  line-height: 6rem;
}

.quote__autor {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 700;
}

.article__list {
  margin: 4rem 0 6rem;
}

.article__img_container {
  margin-bottom: 10.5em;
}

.article__img_container .article__img {
  height: 100%;
  margin-bottom: 4em;
}

figcaption {
  font-size: 3.5rem;
  color: #868686;
}

.article__blockquote_2 {
  height: 42rem;
  padding: 8.5rem 6rem 6rem;

  background-image: url("/Icons/quote_background_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4rem;

  text-align: center;
  justify-items: center;
}

.article__blockquote_2 .quote__content {
  width: 121rem;
}

.tab__article_photo_block {
  display: flex;
  gap: 6rem;
}

.tab__article_photo_block .article__img {
  width: 45%;
  height: 100%;
}

.tab__article_photo_block .tab__article_content {
  margin: 0;
}

.tab__article_exercise {
  padding: 6rem;

  border-radius: 4rem;
}

.yellow {
  background-color: #fefaec;
}

.green {
  background-color: rgba(3, 178, 165, 0.1);
}

.tab__article_exercise h4 {
  font-size: 4rem;
  font-weight: 600;
}

.tab__article_exercise .tab__article_content {
  margin: 2rem 0 0;
}

.double {
  margin-top: 6rem;
}

.double .tab__article_photo_block {
  flex-direction: column;
}

.double .article__img {
  width: 100%;
  height: 60%;
}

.tab__article_separator {
  height: 8rem;

  margin: 6rem 0;
}

.tab__aricle_topic_list {
  display: flex;
  flex-wrap: wrap;

  margin: 6rem 0 0;

  list-style-type: none;
}

.topic_item {
  font-size: 3.5rem;
  color: #2963a3;
}

/* Боковая панель */
aside {
  display: flex;
  flex-direction: column;

  margin-top: 13.5rem;

  flex-grow: 1;
  width: 70rem;
  gap: 6rem;
}

.aside__banner_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 4rem;
}

.aside__banner_container .article__button {
  width: 90%;

  text-align: center;

  margin: 0;
  padding: 3rem;
}

.banner_1 {
  padding: 6rem;
  background-color: #e6f0fd;
}

.banner_1 h4 {
  width: 90%;

  margin: 7rem 0 3rem;

  font-size: 4.5rem;
  font-weight: 600;
}

.banner_1 p {
  margin-bottom: 6rem;

  font-size: 3.5rem;
}

.banner_2 {
  position: relative;

  padding: 6rem 4rem 9rem;

  text-align: center;

  border: 1px solid #dedede;
}

.banner_2 h4 {
  margin: 4rem 0 1rem;

  font-size: 5rem;
  font-weight: 700;
}

.banner_2 h5 {
  margin: 0 0 1rem;

  font-size: 4rem;
  font-weight: 500;
}

.banner_2 h6 {
  width: 100%;

  margin: 0;

  font-size: 3.5rem;
  color: #a2a7b1;
}

.banner_2 h6::after {
  content: "";

  margin: 4rem 0;

  display: block;

  width: 100%;
  height: 1px;

  background-color: #dedede;
}

.aside__problem_container {
  text-align: left;
}

.banner_2 h3 {
  margin: 0;

  font-size: 4rem;
  font-weight: 700;
}

.aside__problem_container .article__list {
  margin: 4rem 0 5rem 4rem;
}

.aside__photo_circle {
  border-radius: 100%;
}

.aside__tags_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: absolute;
  top: 4rem;
  left: 4rem;

  list-style-type: none;
}

.aside__tag .tag__item {
  background-color: rgba(243, 244, 248, 0.7);

  margin: 0rem;
  padding: 0.75rem 1.5rem;

  font-size: 3rem;
  font-weight: 500;

  border: none;
  border-radius: 1.5rem;
}

.banner_4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;

  padding: 8rem;

  border: 1px solid #dedede;

  overflow: hidden;
}

.banner_4 h4 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #2963a3;
}

.banner_4 h4::first-letter {
  font-size: 6rem;
}

.banner_4 p {
  margin: 4rem 0;

  font-size: 3.5rem;
  color: #011632;
}

.banner_4 .aside__banner_price {
  margin: 0 0 4rem;

  font-size: 6rem;
  font-weight: 700;
  color: #333;
}

.banner_4 .article__button {
  width: auto;
}

.aside__banner_background {
  position: absolute;
  bottom: -13rem;
  right: -13rem;

  z-index: -1;
}

/* Баннер перед футером */
.article__cta_banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 18.5rem;
}

.article__cta_banner::before {
  content: "";
  display: block;

  margin: 12rem 0 18rem;

  height: 1px;
  width: 100%;

  background-color: #dedede;
}

.article__cta_banner h3 {
  font-size: 12rem;
  font-weight: 600;
}

.article__cta_banner p {
  margin: 6rem 0 0;
  font-size: 4.5rem;
}

.banner__content_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 29%;
}

.article__button {
  margin: 8rem 0 21rem;
  padding: 5rem 6rem;

  border: none;
  border-radius: 1rem;

  background-color: #16c8bb;
  color: #fff;

  font-size: 4rem;
  font-weight: 700;
}

.article__button:active {
  background: #028076;
  border-radius: 2px solid #028076;
}

.article__button:hover {
  background: #03a094;
  border-radius: 2px solid #03a094;
}
